<section id="professional">
  <div class="row">

    <div class="three columns main-col text-center">
      <h1>
        <!-- <span>Teaching</span> -->
      </h1>
    </div>

    <!-- <hr class="six columns centered"> -->

    <div class="nine columns main-col">
      <h2>Teaching</h2>
      <ul>
        {% for teaching in site.data.teaching %}

        <div class="row item">

          <div class="twelve columns">
            
            <li>
              {{ teaching.item }}
            </li>
          
          </div>

        </div>
        <!-- item end -->
        {% endfor %}
      </ul>

    </div>
    <!-- main-col end -->

  </div>
  <!-- End Education -->
</section>
